@charset "UTF-8";
table{
	width:400px;
	margin:50px auto;
	border:1px solid black;
}
caption{
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}
td{
	border:1px solid black;
}
.main{
	text-align:center;
}